body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #333;
}

*, *::after, *::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
}

/* Header */

.header {
    background-color: #fed100;
    padding-top: 40px;
    padding-bottom: 91px; 
    position: relative;
    z-index: 1;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    position: relative;
}

.header__logo {
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.nav {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.nav__link {
    color: #333;
    transition: all .3s linear;
    border-bottom: 1px solid transparent;
}

.nav__link:hover {
    border-bottom: 1px solid #333;
}

.nav__link + .nav__link {
    margin-left: 45px;
}

.header__phone {
    color: #333;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
}

.header__main {
    display: flex;
}

.header__content {
    margin-top: 60px;
    max-width: 500px;
    margin-right: 80px;
}

.header__text {
    margin-bottom: 50px;
}

.header__title {
    font-weight: 700;
    font-size: 70px;
    line-height: 126.9%;
    margin-bottom: 23px;
}

.header__subtitle {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
}

.header__button {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #f2f2f2;
    padding: 16px 95px 15px 96px;
    background-color: #ff352b;
    position: relative;
    transition: all .2s linear;    
}

.header__button:hover {
    background-color: #ec3329;
}

.header__button::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 304px;
    height: 60px;
    border: 2px solid #f2f2f2;
    z-index: -1;
}

.header__advantages {
    margin-top: 65px;
    display: flex;
    justify-content: space-between;
}

.advantages__item:first-child {
    margin-right: 20px;
}

.advantages__item {
    max-width: 135px;
    position: relative;
    margin-top: 0;
    display: flex;
}

.advantages__image {
    margin-right: 10px;
}

.advantages__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}

.advantages__truck {
    height: 40px;
}

.advantages__package {
    height: 38px;
}

.advantages__money {
    height: 41px;
}

.header__truck {
    height: 100%;
    margin-top: 97px;
    margin-left: 360px;
}

.header__photo {
    position: absolute;
    margin-left: 625px;
    margin-top: -35px;
}

.header__call {
    margin-left: 1200px;
    margin-top: 415px;
    position: absolute;
    background-color: rgba(61, 155, 233, 0.8);
    padding: 24px 23px 23px 24px;
    border-radius: 50%;
    box-shadow: 0 0 0 18px rgba(61, 155, 233, 0.3);
    transition: all .3s linear;
}

.header__call:hover {
    box-shadow: 0 0 0 8px rgba(61, 155, 233, 0.3);
}

/* Header */

/* How */

.how {

}

/* /How */

/* Prices */

.prices {

}

/* /Prices */

/* Park */

.park {

}

/* /Park */

/* Testimonails */

.testimonials {

}

/* /Testimonials */

/* Order */

.order {

}

/* /Order */

/* Map */

.map {

}

/* /Map */

/* Footer */

.footer {

}

/* /Footer */

